* {
  margin: 0;
  padding: 0;
}

a {
  color: transparent;
  text-decoration: none;
}

:root {
  --color-card-subtitle: #f2f60f;
}

video {
  width: 100%;
  height: 100%;
}

body {
  background: url("../images/png/background.png") #1E2538;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Qanelas", sans-serif;
  max-width: 100%;
}

ul {
  list-style: none;
}
.hidden {
  display: none !important;
  animation-name: unset;
  /* animation-duration: 0.3s;
  animation-fill-mode: forwards; */
}

.transition {
  transition: 0.3s;
  transform: translate(-100%, 0);
}
.rtransition {
  transform: translate(100%, 0);
}

.flex {
  display: flex !important;
}

.anim {
  animation-name: setBg;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.tabs-header-items-item:hover {
  scale: 1.1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 37, 56, 0.8);
  z-index: 10;
  transition: 0.3s;
}
.sidebar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sidebar-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

/*header*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-search-adapt {
  display: none;
}

.menu-adapt {
  display: none;
}


.header-messeges {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.container {
  max-width: 1432px;
  margin: 0 auto;
}

.header-messeges li {
  margin-right: 11px;
}

.header-messeges li:last-child {
  margin-right: 0;
}

.menu {
  max-width: 760px;
  width: 100%;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li a {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.header-btns {
  display: flex;
  align-self: center;

}

.header-search {
  cursor: pointer;
}

.header-login { 
  padding: 13px 47px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(72, 113, 255, 0.8);
  background: #3657cb;
  border: none;
  cursor: pointer;
  margin-left: 12px;

  color: #fff;
}


/*main*/
main {
  padding-top: 51px;
}

.tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-header-title {
  font-weight: 900;
  font-size: 65px;
  color: #fff;
}

.preview hr,.popular hr, hr {
  max-width: 52px;
  width: 100%;
}

.tabs-header-items {
  display: flex;
}

.tabs-header-items-item {
  margin-right: 41px;
  cursor: pointer;
  transition: 0.3s;

  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.35);
}
.active {
  color: white !important;
}

.tabs-header-items-item:last-child {
  margin-right: 0;
}

.preview-tabs-content {
  margin-bottom: 71px;
  
}

.preview-tabs-content-top {
  margin-top: 64px;
  display: flex; 
  justify-content: space-between;

}

.preview-tabs-content-bot {
  margin-top: 33px;
  display: flex; 
  justify-content: space-between;

}

.preview-tabs-content-card {
  max-width: 340px;
  width: 100%;
  position: relative;
}

.preview-tabs-content-card-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;

  margin-top: 11px;
}

.preview-tabs-content-card-subtitle {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-card-subtitle);

  margin-top: 4px;
}

.preview-tabs-content-card-rating {
  position: absolute;
  padding: 5px 13px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  top: 12px;
  right: 12px;
}

.preview-tabs-content-card:hover .preview-tabs-content-card-img-bg {
  display: block !important;
  animation-name: setBg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.preview-tabs-content-card:hover .preview-tabs-content-card-img-btn {
  display: block;
  animation-name: setBg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.preview-tabs-content-card-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.preview-tabs-content-card-img-btn {
  border-radius: 10px;
  padding: 21px 40px;
  box-shadow: 0 0 10px 0 rgba(55, 94, 232, 0.4);
  background: #fff;
  border: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #3657cb;

}

.preview-tabs-content-card-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 87, 203, 0.65);
  
  display: none;
}

.preview-btn {
  margin-left: 50%;
  display: block;
  width: fit-content;
  text-decoration: none;
  transform: translate(-50%, 0);
  padding: 20px 46px;
  border: 2px solid #fff;
  border-radius: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #fff;

}

.trailer {
  margin-top: 54px;
}

.trailer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.trailer-header a {
  color: white;
  display: flex;
  align-items: center;
}

.trailer-header a span {
  margin-right: 20px;
}

.trailer-tags-title {
  font-weight: 900;
  font-size: 45px;
  color: #fff;
}

.trailer-tags {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.trailer-tags ul {
  padding-top: 15px;
  margin-left: 20px;
}

.trailer-tags-mes {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.trailer-tags-reaction .reaction {
  margin-right: 8px;
}
.trailer-tags-reaction .reaction:last-child {
  margin-right: 0;
}

.reaction {
  background: none;
  border: none;
  cursor: pointer;
}

.trailer-tags-reaction span {
  display: block;
  color: #fff;
  margin-top: 5px;
  
}

.preview-card-container {
  margin-top: 28px;
  display: flex;
  box-sizing: content-box;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #3657cb transparent;
  padding-bottom: 15px; /* thumb track */
  
}


.card {
  min-width: 342px;
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

.card-img {
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 11px;
}
.swiper-cont {
  position: relative;
  max-width: 1432px;
  overflow-x: hidden;
}
.swiper {
  transition: 0.3s;
  display: flex;
  box-sizing: content-box;
}
.swiper-item {
  display: flex;
  min-width: 100%;
  width: 100%;
  justify-content: space-between;
}

.swiper-btns-cont {
  margin-top: 54px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-next-btn, .swiper-prev-btn {
  cursor: pointer;
}

.swiper-counter {
  margin-left: 20px;
  margin-right: 20px;
}

.interval {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.fees-head-title {
  box-sizing: border-box;
}

.fees-head-title span {
  margin-left: 19px;
}

.fees-bottom-item {
  display: flex;
  justify-content: space-between;
}

.fees-card {
  display: flex;
}

.fees-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 11px;
}

.fees-card-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.fees-card-price {
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  color: #f2f60f;

  margin-top: 11px;
}

.fees-card-text {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.41);
}

.fees-card:hover {
  transition: 0.3s;
  scale: 1.1;
}

/*footer*/
footer {
  margin-top: 100px;
}

.footer-head {
  padding-top: 76px;
  padding-bottom: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/png/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

footer h1 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  max-width: 704px;
}

.footer-form {
  max-width: 715px;
  width: 100%;
}

.footer-form-input-cont {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.footer-form-input-cont input:first-child {
  max-width: 425px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 8px;
  border-radius: 10px;
  padding: 22px 27px;
  border: none;
  box-shadow: none;

  font-weight: 400;
  font-size: 17px;
  line-height: 167%;
  color: rgba(21, 26, 38, 0.6);
}



.footer-form-input-cont input:last-child {
  max-width: 182px;
  width: 100%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: #f2f60f;
  transition: 0.3s;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #151a26;
}

.footer-form-input-cont input:last-child:hover {
  opacity: 0.8;
}

.footer-form-checkbox-cont {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.footer-form-checkbox-cont input:focus {
  accent-color: #f2f60f;
}

.footer-form-checkbox-cont label {
  margin-left: 12px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

.footer-form-checkbox-cont label a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f2f60f;
}

.footer-bot {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bot ul:first-child {
  margin-bottom: 34px;
}

.footer-bot-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 119%;
  text-align: center;
  color: rgba(227, 230, 240, 0.72);
}

.footer-bot-href {
  margin-top: 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 119%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: rgba(227, 230, 240, 0.72);
}


@media (max-width: 1440px) {
  .container {
    padding: 0 10px;
  }
  header .header-search {
    display: none;
  }
  header .header-search-adapt {
    display: block;
  }
  header .menu {
    display: none;
  }
  .menu-adapt {
    display: block !important;
    margin: 0 auto;
    margin-top: 25px;
  }
  .preview-tabs-header, .tabs-header {
    display: inline;
  }
  .tabs-header hr {
    display: none;
  }
  .tabs-content {
    margin-top: 30px;
  }
  .tabs-header h1 {
    margin-bottom: 5px;
  }
  .preview-tabs-content-top, .preview-tabs-content-bot, .swiper-item {
    gap: 15px;
  }
  .preview-tabs-content-top a, .preview-tabs-content-bot a {
    max-width: 340px;
    max-height: 520px;
    display: block;
  }
  .preview-tabs-content-top a .preview-tabs-content-card-img, .preview-tabs-content-bot a .preview-tabs-content-card-img {
    background-size: cover !important;
  }
}
@media (max-width: 1000px) {
  .preview-tabs-content-top, .preview-tabs-content-bot {
    gap: 15px;
  }
  .preview-tabs-content-top a, .preview-tabs-content-bot a, .swiper-item a {
    max-width: 200px;
    display: block;
  }
  .preview-tabs-content-top a .preview-tabs-content-card-img, .preview-tabs-content-bot a .preview-tabs-content-card-img, .swiper-item a .preview-tabs-content-card-img {
    height: 275px;
    background-size: cover !important;
  }
  .fees-bottom-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .preview-tabs-content-top a:last-child, .preview-tabs-content-bot a:last-child, .swiper-item a:last-child  {
    display: none;
  }
  .menu {
    display: none !important;
  }
}


@keyframes unset {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes setBg {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}