// .background {
//     position: absolute;
//     top: 0;
//     left: 0;
// }

body {
    background: url("../images/png/background.png") #1E2538;
    background-size: cover;
}

.container {
    max-width: 1432px;
    margin: 0 auto;
}