main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 150px;
    text-align: center;
    color: #fff;
}
h1 span {
    display: block;
}
p {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 169%;
    text-align: center;
    color: #fff;
}
main a {
    padding: 18px 33px;
    box-shadow: 0 0 7px 0 rgba(72, 113, 255, 0.6);
    background: #3657cb;
    border-radius: 10px;
    border: none;
    margin-top: 30px;


    font-weight: 700;
    font-size: 16px;
    line-height: 167%;
    color: #fff;
}

@media (max-width: 1050px) {
    h1 {
        font-size: 100px;
    }
}

@media (max-width: 716px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 14px;
    }
}