/*main*/
main {
  padding-top: 51px;
}

.tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-header-title {
  font-weight: 900;
  font-size: 65px;
  color: #fff;
}

.preview hr,.popular hr, hr {
  max-width: 52px;
  width: 100%;
}

.tabs-header-items {
  display: flex;
}

.tabs-header-items-item {
  margin-right: 41px;
  cursor: pointer;
  transition: 0.3s;

  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.35);
}
.active {
  color: white !important;
}

.tabs-header-items-item:last-child {
  margin-right: 0;
}

.preview-tabs-content {
  margin-bottom: 71px;
  
}

.preview-tabs-content-top {
  margin-top: 64px;
  display: flex; 
  justify-content: space-between;

}

.preview-tabs-content-bot {
  margin-top: 33px;
  display: flex; 
  justify-content: space-between;

}

.preview-tabs-content-card {
  max-width: 340px;
  width: 100%;
  position: relative;
}

.preview-tabs-content-card-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;

  margin-top: 11px;
}

.preview-tabs-content-card-subtitle {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-card-subtitle);

  margin-top: 4px;
}

.preview-tabs-content-card-rating {
  position: absolute;
  padding: 5px 13px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  top: 12px;
  right: 12px;
}

.preview-tabs-content-card:hover .preview-tabs-content-card-img-bg {
  display: block !important;
  animation-name: setBg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.preview-tabs-content-card:hover .preview-tabs-content-card-img-btn {
  display: block;
  animation-name: setBg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.preview-tabs-content-card-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.preview-tabs-content-card-img-btn {
  border-radius: 10px;
  padding: 21px 40px;
  box-shadow: 0 0 10px 0 rgba(55, 94, 232, 0.4);
  background: #fff;
  border: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #3657cb;

}

.preview-tabs-content-card-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 87, 203, 0.65);
  
  display: none;
}

.preview-btn {
  margin-left: 50%;
  display: block;
  width: fit-content;
  text-decoration: none;
  transform: translate(-50%, 0);
  padding: 20px 46px;
  border: 2px solid #fff;
  border-radius: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #fff;

}

.trailer {
  margin-top: 54px;
}

.trailer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.trailer-header a {
  color: white;
  display: flex;
  align-items: center;
}

.trailer-header a span {
  margin-right: 20px;
}

.trailer-tags-title {
  font-weight: 900;
  font-size: 45px;
  color: #fff;
}

.trailer-tags {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.trailer-tags ul {
  padding-top: 15px;
  margin-left: 20px;
}

.trailer-tags-mes {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.trailer-tags-reaction .reaction {
  margin-right: 8px;
}
.trailer-tags-reaction .reaction:last-child {
  margin-right: 0;
}

.reaction {
  background: none;
  border: none;
  cursor: pointer;
}

.trailer-tags-reaction span {
  display: block;
  color: #fff;
  margin-top: 5px;
  
}

.preview-card-container {
  margin-top: 28px;
  display: flex;
  box-sizing: content-box;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #3657cb transparent;
  padding-bottom: 15px; /* thumb track */
  
}


.card {
  min-width: 342px;
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

.card-img {
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 11px;
}
.swiper-cont {
  position: relative;
  max-width: 1432px;
  overflow-x: hidden;
}
.swiper {
  transition: 0.3s;
  display: flex;
  box-sizing: content-box;
}
.swiper-item {
  display: flex;
  min-width: 100%;
  width: 100%;
  justify-content: space-between;
}

.swiper-btns-cont {
  margin-top: 54px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-next-btn, .swiper-prev-btn {
  cursor: pointer;
}

.swiper-counter {
  margin-left: 20px;
  margin-right: 20px;
}

.interval {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.fees-head-title {
  box-sizing: border-box;
}

.fees-head-title span {
  margin-left: 19px;
}

.fees-bottom-item {
  display: flex;
  justify-content: space-between;
}

.fees-card {
  display: flex;
}

.fees-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 11px;
}

.fees-card-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.fees-card-price {
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  color: #f2f60f;

  margin-top: 11px;
}

.fees-card-text {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.41);
}

.fees-card:hover {
  transition: 0.3s;
  scale: 1.1;
}

.popular {
  margin-top: 75px;
}



@keyframes unset {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes setBg {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
