@import url(./style.css);

main {
    padding-top: 51px;
}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 30px;
    height: 100vh;

    margin-top: 30px;
    padding-bottom: 100px;
}

.media-item {
  max-width: 340px;
  width: 100%;
  position: relative;
}

.media-item-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;

  margin-top: 11px;
}


.media-item:hover .media-item-poster-bg, .media-item:hover .media-item-poster-btn {
  display: block !important;
  animation-name: setBg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}



.media-item-poster {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.media-item-poster-btn {
  border-radius: 10px;
  padding: 21px 40px;
  box-shadow: 0 0 10px 0 rgba(55, 94, 232, 0.4);
  background: #fff;
  border: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #3657cb;

}

.media-item-poster-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 87, 203, 0.65);
  
  display: none;
}

