
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  color: transparent;
  text-decoration: none;
}

:root {
  --color-card-subtitle: #f2f60f;
  --color-btn: #3657CB;
  --border-radius: 10px;
  --input-col: #f2f60f;
}

video {
  width: 100%;
  height: 100%;
}

body {
  background: url("../images/png/background.png") #1E2538;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Qanelas", sans-serif;
  max-width: 100%;
}

ul {
  list-style: none;
}
.hidden {
  display: none !important;
  /* animation-name: unset; */
  /* animation-duration: 0.3s;
  animation-fill-mode: forwards; */
}

.header-burger-menu {
  display: none;
}

.transition {
  transition: 0.3s;
  transform: translate(-100%, 0);
}
.rtransition {
  transform: translate(100%, 0);
}

.flex {
  display: flex !important;
}

.anim {
  animation-name: setBg;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.tabs-header-title {
  font-weight: 900;
  font-size: 65px;
  color: #fff;
}

.tabs-header-items-item:hover {
  scale: 1.1;
}

.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 37, 56, 0.8);
  z-index: 10;
  transition: 0.3s;
}
.sidebar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;

}

.sidebar-content ul li a {
  font-size: 13px;
  line-height: 319%;
  text-align: center;
  color: #fff;
}

.sidebar-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.img-cont {
  display: none;
}




.registration-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
}

.registration-form {
    width: 100%;
    max-width: 500px;
    background-color: #1a2233; /* Фон формы */
    padding: 30px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.registration-form h1 {
    text-align: center;
    margin-bottom: 25px;

    font-weight: 800;
    font-size: 40px;
    color: #fff;
}

.registration-form input,
.registration-form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #262e3d; /* Фон полей ввода */
    border: none;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box; /* Важно для учета padding в ширине */
    font-size: 16px;
}

.registration-form input::placeholder {
    color: #aaa;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.checkbox-container input {
    margin-right: 10px;
    margin-bottom: 0 !important;
    width: fit-content !important;
    accent-color: var(--input-col);
  }
  

.checkbox-container label {
    color: #aaa;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #fffb00; /* Ярко-желтая кнопка */
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    opacity: 0.9;
}



.login-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  transition: 0.3s;
}

.login-box {
  background-color: #1a1a2e; /* Темный фон формы */
  padding: 40px 30px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;

    font-weight: 800;
    font-size: 40px;
    color: #fff;
}

.login-container input,
.login-container input[type="password"],
.login-container button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.login-container input,
.login-container input[type="password"] {
    background-color: #2c2c44; /* Фон полей ввода */
    color: #fff;
}

.login-btn {
    background-color: #fffb00; /* Ярко-желтая кнопка входа */
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.register-btn {
    background-color: #2c2c44; /* Кнопка регистрации */
    color: #fff;
    cursor: pointer;
}

.forgot-password {
    color: #4a90e2; /* Синяя ссылка восстановления пароля */
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}



/*header*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-search-adapt {
  display: none;
}

.menu-adapt {
  display: none;
}

.header-adapt-cont {
  display: none;
}

.header-messeges {
  display: flex;
  align-items: center;
  padding-left: 0;
  background-size: cover;
}

.container {
  max-width: 1432px;
  margin: 0 auto;
}

.header-messeges li {
  margin-right: 11px;
}

.header-messeges li:last-child {
  margin-right: 0;
}

.menu {
  max-width: 760px;
  width: 100%;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li a {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.menu ul li {
  transition: 0.3s;
}

.menu ul li:hover {
  transform: scale(1.1);
}

.header-btns {
  display: flex;
  align-self: center;

}

.header-search {
  cursor: pointer;
}

.header-login { 
  padding: 13px 47px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(72, 113, 255, 0.8);
  background: #3657cb;
  border: none;
  cursor: pointer;
  margin-left: 12px;

  color: #fff;
}

.tabs-content {
  margin-top: 30px;
}



/*footer*/
footer {
  margin-top: 100px;
}

.footer-head {
  padding-top: 76px;
  padding-bottom: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/png/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

footer h1 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  max-width: 704px;
}

.footer-form {
  max-width: 715px;
  width: 100%;
}

.footer-form-input-cont {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.footer-form-input-cont input:first-child {
  max-width: 425px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 8px;
  border-radius: 10px;
  padding: 22px 27px;
  border: none;
  box-shadow: none;

  font-weight: 400;
  font-size: 17px;
  line-height: 167%;
  color: rgba(21, 26, 38, 0.6);
}



.footer-form-input-cont input:last-child {
  max-width: 182px;
  width: 100%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: var(--input-col);
  transition: 0.3s;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: #151a26;
}

.footer-form-input-cont input:last-child:hover {
  opacity: 0.8;
}

.footer-form-checkbox-cont {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.footer-form-checkbox-cont input:focus {
  accent-color: var(--input-col);
}

.footer-form-checkbox-cont label {
  margin-left: 12px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

.footer-form-checkbox-cont label a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--input-col);
}

.footer-bot {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bot ul:first-child {
  margin-bottom: 34px;
}

.footer-bot-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 119%;
  text-align: center;
  color: rgba(227, 230, 240, 0.72);
}

.footer-bot-href {
  margin-top: 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 119%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: rgba(227, 230, 240, 0.72);
}


@media (max-width: 1440px) {
  .header-adapt-cont {
    display: block;
  }
  /* .swiper-item a:last-child {
    display: none !important;
  } */
  .container {
    padding: 0 10px;
  }
  header .header-search {
    display: none;
  }
  header .header-search-adapt {
    display: block;
  }
  header .menu {
    display: none;
  }
  .menu-adapt {
    display: block !important;
    margin: 0 auto;
    margin-top: 25px;
  }
  .preview-tabs-header, .tabs-header {
    display: inline;
  }
  .tabs-header hr {
    display: none;
  }
  
  .tabs-header h1 {
    margin-bottom: 5px;
  }
  .preview-tabs-content-top, .preview-tabs-content-bot, .swiper-item {
    gap: 15px;
  }
  .preview-tabs-content-top a, .preview-tabs-content-bot a {
    max-width: 340px;
    max-height: 520px;
    display: block;
  }
  .preview-tabs-content-top a .preview-tabs-content-card-img, .preview-tabs-content-bot a .preview-tabs-content-card-img {
    background-size: cover !important;
  }
}
@media (max-width: 1000px) {
  .preview-tabs-content-top, .preview-tabs-content-bot {
    gap: 15px;
  }
  .preview-tabs-content-top a, .preview-tabs-content-bot a, .swiper-item a {
    max-width: 200px;
    display: block;
  }
  .preview-tabs-content-top a .preview-tabs-content-card-img, .preview-tabs-content-bot a .preview-tabs-content-card-img, .swiper-item a .preview-tabs-content-card-img {
    height: 275px;
    background-size: cover !important;
  }
  .fees-bottom-item {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  .fees-bottom-item.hidden {
    display: none !important;
  }
  .hidden-clild  {
    display: none !important;
  }
  .menu {
    display: none !important;
  }
  .preview-tabs-header, .tabs-header {
    display: flex;
    align-items: end;
  }
  .tabs-header img {
    padding-bottom: 15px;
  }
  
  #preview-menu {
    display: none;
  }
  .header-adapt-cont {
    display: flex;
  }
  .header-burger-menu {
    display: block;
  }
  .tabs-header-items {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .login-box {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0 20px;
    border-radius: 0;
  }
  .registration-form {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0 20px;
    border-radius: 0;
  }
  
}

@media (max-width: 750px) {
  .trailer-tags-mes {
    display: inline !important;
  }
  .hidden-clild  {
    display: block;
  }
  .fees-bottom-item {
    grid-template-columns: 1fr 1fr;
  }
  .footer-form-input-cont {
    display: inline;
  }
  .footer-form-input-cont input {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 10px;
    height: 50px;
  }
  .footer-form-checkbox-cont label {
    text-align: left;
  }
}


@keyframes unset {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes setBg {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
